/* Reset css */
html {
  box-sizing: border-box;
  font-family: var(--dmsans);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #222; /* Scrollbar arka planı */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    #ffc226,
    #f84119
  ); /* Gradient renkler */
}

/* Hover efekti */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #ff9800, #d32f2f); /* Daha koyu ton */
}

/* mobile  */

body {
  transition: background 0.3s, color 0.3s;
  font-family: 'Roboto', serif;
  color: #595959;
  font-size: 14px;
}

body.dark-mode {
  background-color: #111111;
  color: white;
}
.mobil {
  background: #ffffff;
  color: #595959;
}
.dark-mode .mobil {
  background: #111111;
  color: #ffffff;
}
/* Toggle container */
.toggle-container {
  position: absolute;
  top: 10px;
  right: 20px;
}

/* Toggle switch (görünmeyen checkbox) */
#darkmode-toggle {
  display: none;
}

/* Toggle etiketi (arka plan) */
.toggle-label {
  display: flex;
  align-items: center;
  width: 60px;
  height: 25px;
  background: linear-gradient(to bottom, #ffc226, #f84119);
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s;
}

/* Toggle butonu (hareket eden yuvarlak) */
.toggle-ball {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  background: white;
  border-radius: 50%;
  transition: transform 0.3s;
}
.toggle-icon {
  font-size: 14px;
  position: absolute;
}
.sun {
  left: 6px;
  color: white;
}
.moon {
  right: 6px;
  color: white;
}

/* Toggle aktifken (dark mode) */
#darkmode-toggle:checked + .toggle-label {
  background: linear-gradient(to bottom, #ffc226, #f84119);
}

/* Toggle butonu sağa kaydır (dark mode) */
#darkmode-toggle:checked + .toggle-label .toggle-ball {
  transform: translateX(35px);
}

.mobil-logo {
  position: absolute;
  top: 7px;
  left: 15px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 5px;
}
.nav-list,
.logo-text {
  display: none;
}
.nav-list a:hover {
  color: #f87719;
}

.section-hero {
  max-width: 380px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.gradient-container {
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(
    86.47deg,
    #111111 33.63%,
    rgba(17, 17, 17, 0) 76.86%
  );
  width: 600px;
  height: 380px;
  left: 0px;
  top: 58px;
  border: 0;
  outline: none;
}
.hero-img {
  position: absolute;
  top: 58px;
  right: 0;
  width: 780px;
  height: 380px;
  object-fit: cover;
  z-index: -1;
  outline: none;
  border: 0;
}
.hero-text-container {
  margin-bottom: 20px;
  z-index: 100;
  color: #f8f8f8;
  font-size: 10px;
}
.hero-content {
  position: absolute;
  top: 100px;
  left: 50px;
  max-width: 300px;
  height: 69px;
}
.star-rating {
  font-size: 20px;
  color: orange;
  font-weight: bold;
  margin-bottom: 5px;
}
.star-rating-hero {
  font-size: 20px;
  color: orange;
  font-weight: bold;
  margin-bottom: 5px;
}

.btn-list {
  display: flex;
  gap: 8px;
}
.js-trailer-btn {
  width: 117px;
  height: 38px;
  padding: 12px 24px;
  gap: 10px;
  border-radius: 74px;
  background: linear-gradient(to bottom, #ffc226, #f84119);
  border: none;
  font-size: 12px;
  margin-top: 20px;
  transition: background all 0.3s;
}
.js-trailer-btn:hover {
  background: #111111;
  color: orange;
  border: 1px solid orange;
}
.js-details-btn:hover {
  color: orange;
  border: 1px solid orange;
}
.js-details-btn {
  background: transparent;
  border: 1px solid #ffffff;
  width: 124px;
  height: 38px;
  padding: 12px 24px;
  gap: 10px;
  border-radius: 74px;
  color: #ffffff;
  margin-top: 20px;
}
.close-icon {
  position: absolute;
}
.search-input {
  width: 224px;
  height: 40px;
  padding: 10px 142px 10px 10px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #595959;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}
.search-input::placeholder {
  color: #595959;
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: center;
}
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 20px;
}
.year-dropdown {
  width: 95px;
  height: 40px;
  border: 1px solid #595959;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  color: #282828;
}
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.search-input2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 173px;
  height: 40px;
  padding: 10px 110px 10px 10px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #595959;
}
.search-input2::placeholder {
  color: #595959;
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: center;
}
.search-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  background: linear-gradient(90deg, #ffc226, #f84119);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: stroke 0.3s all;
}
.search-button:hover {
  background: transparent;
  border: 1px solid orange;
}
.search-button:hover + .search-icon {
  stroke: orange;
}

.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relaative;
  margin: 0 auto;
  margin-top: 290px;
}
.no-result {
  display: none;
}
.catalog-movies {
  padding-top: 16px;
  padding-bottom: 0;
  margin: 0 auto;
}
.gallery-movies {
  display: flex;
  flex-wrap: wrap;
}

.gallery-movies-img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.gallery-movies-item {
  position: relative;
  background-color: black;
  border-radius: 5px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  width: 280px;
  height: 420px;
  gap: 16px;
}

.gallery-movies-item:hover,
.gallery-movies-item:focus {
  cursor: pointer;
  box-shadow: 1px 1px 14px 2px rgba(255, 107, 8, 0.42);
  transform: scale(1.03);
}

.gallery-movies-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
  border-radius: 4px;
}

.gallery-movies-description {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.gallery-movies-title {
  color: #ffffff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
}

.gallery-movies-details {
  color: #b7b7b7;
  font-style: normal;
  font-weight: 400;
}

.gallery-movies-title,
.gallery-movies-details {
  font-size: 12px;
  line-height: 1.67;
}

.gallery-movies {
  row-gap: 16px;
}

.mobil {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.mobil.active {
  left: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.backdrop.active {
  display: block;
}

.menu-text {
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  position: absolute;
  top: 20px;
}
.mobil-nav-list {
  display: flex;
  flex-direction: column;
  padding: 70px;
  gap: 40px;
}
.mobil-nav-list a:hover {
  color: #f87719;
}

.movie-container {
  margin-top: 70px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
.close-pop-up {
  border: none;
  background: none;
}
.closeIcon:hover {
  fill: #f87719;
}

.modal-movie-info {
  display: none;
  width: 280px;
  height: 847px;
  gap: 0px;
  border-radius: 16px;
}

.gallery-movies-title {
  text-align: left;
  padding-left: 10px;
}
.gallery-movies-details {
  text-align: left;
  padding-left: 10px;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .backdrop,
  .mobil {
    display: none;
  }
  .nav-list,
  .header-logo,
  .logo-text {
    display: block;
  }
  .header-logo img {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0px;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 5px;
  }
  .menu {
    display: none;
  }
  .logo-text {
    position: absolute;
    top: 10px;
    left: 60px;
    font-size: 24px;
  }
  .section-hero {
    max-width: 800px;
    width: 100%;
    display: flex;
    margin: 0 auto;
  }
  .gradient-container {
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(
      86.47deg,
      #111111 33.63%,
      rgba(17, 17, 17, 0) 76.86%
    );
    max-width: 1280px;
    width: 100%;
    left: 0px;
    top: 48px;
    border: 0;
    outline: none;
  }
  .hero-img {
    position: absolute;
    top: 48px;
    right: 0;
    max-width: 968px;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    outline: none;
    border: 0;
  }
  .hero-text-container {
    margin-bottom: 20px;
    z-index: 100;
    color: #f8f8f8;
    font-size: 12px;
  }
  .hero-content {
    position: absolute;
    top: 100px;
    left: 50px;
    max-width: 350px;
    height: 54px;
  }
  .catalog-movies {
    padding-top: 16px;
    padding-bottom: 0;
    margin: 0 auto;
  }
  .gallery-movies {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery-movies-img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .gallery-movies-item {
    position: relative;
    background-color: black;
    border-radius: 5px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    width: 280px;
    height: 420px;
    gap: 16px;
  }

  .gallery-movies-item:hover,
  .gallery-movies-item:focus {
    cursor: pointer;
    box-shadow: 1px 1px 14px 2px rgb(187, 84, 16);
    transform: scale(1.03);
  }

  .gallery-movies-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 63.48%,
      rgba(0, 0, 0, 0.9) 92.16%
    );
    border-radius: 4px;
  }

  .gallery-movies-description {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .gallery-movies-title {
    color: #ffffff;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
  }

  .gallery-movies-details {
    color: #b7b7b7;
    font-style: normal;
    font-weight: 400;
  }

  .gallery-movies-title,
  .gallery-movies-details {
    font-size: 12px;
    line-height: 1.67;
  }

  .gallery-movies {
    row-gap: 16px;
  }
  .movie-container {
    margin-top: 100px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }
  .modal-movie-info {
    display: none;
    width: 704px;
    height: 488px;
    gap: 0px;
    border-radius: 16px;
    position: absolute;
    transform: scale(50%, 50%);
  }
}

/* desktop */
@media screen and (min-width: 1280px) {
  .backdrop,
  .mobil {
    display: none;
  }
  .nav-list,
  .header-logo,
  .logo-text {
    display: block;
  }
  .header-logo img {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0px;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 5px;
  }
  .menu {
    display: none;
  }
  .section-hero {
    max-width: 1280px;
    width: 100%;
  }
  .logo-text {
    position: absolute;
    top: 10px;
    left: 60px;
    font-size: 24px;
  }
  .gradient-container {
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(
      86.47deg,
      #111111 33.63%,
      rgba(17, 17, 17, 0) 76.86%
    );
    max-width: 2400px;
    width: 100%;
    left: 0px;
    top: 48px;
    border: 0;
    outline: none;
  }
  .hero-img {
    position: absolute;
    top: 48px;
    right: 0;
    max-width: 1280px;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    outline: none;
    border: 0;
  }
  .hero-text-container {
    z-index: 100;
    color: #f8f8f8;
    font-size: 15px;
  }
  .hero-content {
    position: absolute;
    margin: 0 auto;
    left: 15%;
    max-width: 700px;
    height: 160px;
  }
  .gallery-movies {
    row-gap: 32px;
    column-gap: 15px;
  }

  .gallery-movies-item {
    width: 395px;
    height: 592.5px;
  }

  .gallery-movies-description {
    width: 354px;
    bottom: 20px;
    left: 20px;
  }

  .gallery-movies-title,
  .gallery-movies-details {
    font-size: 20px;
    line-height: 1.15;
  }

  .gallery-movies-title {
    margin-bottom: 3px;
  }
  .movie-container {
    margin-top: 100px;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
  }
  .modal-movie-info {
    background: #222;
    padding: 20px;
    border-radius: 8px;
    width: 846px;
    height: 598px;
    text-align: center;
    color: white;
    position: relative;
    display: none;
  }
}
