/* Reset css */
html {
  box-sizing: border-box;
  font-family: var(--dmsans);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}
/* mobile  */
.toggle {
  width:44px ;
  height:18px;
  background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
  border-radius: 198px;
  position: relative;
  cursor: pointer;
  transition: backgroung-color 0,3s;
}
.toggle::before {
  content: "";
  width: 13.2px;
  height: 13.5px;
  background-color:  #ffff;
  border-radius: 50%;
  position: absolute;
  top: 2.25px;
  left: 28.6px;
  transition: transform 0.3s;
}


/* tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {


}


/* desktop */
@media screen and (min-width: 1280px) {


}